body {
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color: #ffd700; /* Cor de fundo amarelo */
    color: #333; /* Cor do texto */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Adiciona margem superior */
}

.button:hover {
    background-color: #e6c200; /* Cor de fundo ao passar o mouse */
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px; /* Adiciona margem inferior */
}

.popup {
    display: none;
    position: fixed;
    top: 10px; /* Distância do topo da tela */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com leve transparência */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    text-align: center; /* Centralizar o texto */
    background-image: url('chrome-extension://__MSG_@@extension_id__/icons/background.png'); /* Imagem de fundo em marca d'água */
    background-size: cover; /* Cobrir todo o popup */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-position: center; /* Centralizar a imagem */
    width: 400px; /* Largura padronizada */
    height: 300px; /* Altura padronizada */
}

.popup p {
    margin-bottom: 10px;
    color: #555;
}

.popup ul {
    padding-left: 20px;
    text-align: left; /* Alinhar a lista à esquerda */
}

.popup li {
    margin-bottom: 5px;
}

.highlight {
    font-weight: bold;
    color: #FF5733; /* Cor laranja para destacar */
}
